<div>
  <form [formGroup]="filterForm" class="form">
    <ng-container >
      <select formControlName="fund" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option value='-1'>All Funds</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </ng-container>



      <select formControlName="sector" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option value='-1'>Sector</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>



      <select formControlName="scenario" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option value='-1'>Scenario</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>



      <select formControlName="dateRange" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option value='-1'>Date Range</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>


  </form>

</div>
